#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

%:
	dh $@ --parallel

override_dh_auto_build:
	$(MAKE) tbb tbbmalloc

override_dh_auto_test:
	$(MAKE) test

override_dh_installdocs:
	dh_installdocs -i -Xrelease -Xdebug

override_dh_strip:
	dh_strip -s --dbg-package=libtbb2-dbg

override_dh_makeshlibs:
	dh_makeshlibs -s -V

.PHONY: get-orig-source
## http://wiki.debian.org/onlyjob/get-orig-source
get-orig-source:
	uscan .
